body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffedbd;
}

header {
    background: #b83030;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

#back-button {
    background-color: #ffdc82;
    color: #000000;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

#back-button:hover {
    background-color: #e0c05c;
}

main {
    padding: 80px 20px;
}

.emoji-background {
    font-size: 7.5rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0.12;
    z-index: -10;
}

.carousel {
    position: relative;
    margin: 20px 0;
    overflow: hidden;
}

.carousel h2 {
    margin: 10px 0;
    color: #b83030;
}

.carousel-content {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    scrollbar-width: thick;
    position: relative;
    z-index: 1;
}

.carousel-content::-webkit-scrollbar {
    height: 8px;
}

.carousel-content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.spotlight {
    background-color: #BDFFC6;
}

.doc-item {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    margin-right: 20px;
    padding: 15px;
    min-width: 200px;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 0 0 auto;
    position: relative;
    z-index: 2;
}

.doc-item a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #b83030;
}

.tone {
    position: relative;
    margin-top: 10px;
    font-weight: bold;
}

.tone span {
    display: block;
    margin-bottom: 5px;
}

.tone-container {
    height: 10px;
    background-color: #ffdc82;
    border-radius: 5px;
    overflow: hidden;
}

.tone-bar {
    height: 100%;
    background-color: #b83030;
    border-radius: 5px;
}

.links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #b83030;
    font-weight: bold;
    transition: transform 0.3s;
}

.links a:hover {
    transform: scale(1.05);
}

.links img {
    margin-right: 5px;
}

@media (max-width: 768px) {
    header {
        padding: 15px 10px;
    }

    #back-button {
        margin-left: 15px;
        padding: 8px 12px;
    }

    .carousel-content {
        padding: 5px;
    }

    .doc-item {
        margin-right: 10px;
        margin-bottom: 0;
    }

    .doc-item p {
        font-size: 0.9em;
    }

    .doc-item h3 {
        font-size: 1.2em;
    }
    
    .tone {
        font-size: 0.9em;
    }
}
